.page-content{
  margin-top: 110px;
}

.oder {
  display: flex;
  flex-direction: column;
  text-align: left;
  height: 300px;
}

.oder__container {
  display: flex;
  flex-direction: column;
}
.title{
  text-align: left;
}

.title h1 {
  color: #ffffff;
  font-family: "AlegreyaSans";
  font-size: 48px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: normal;
  line-height: normal;
  width: 320px;
  height: 150px;
}

.subtitle{
  margin-top: 23px;
  margin-bottom: 30px;
}
.subtitle p {
  width: 350px;
  height: 45px;
  color: #ffffff;
  font-family: "AlegreyaSans";
  font-size: 21px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  margin: 0;
}


.oder__btn{
  width: 156px;
  height: 58px;
  margin-top: 30px;
  flex: 3;
  z-index: 1;
}
.btn {
  padding: 20px 30px;
  background-color: #ffffff;
  color: #365a49;
  font-family: "AlegreyaSans";
  font-size: 19px;
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
  border-radius: 30px;
}